.banners_preview {
    width: 200px;
    height: auto;
}

.featured_preview {
    width: 200px;
    height: auto;
}

.td-action {
    text-align: center;
}

.td-action .btn-table {
    margin-bottom: 10px;
}

.box .box-header a {
    color: #ffffff;
}

.modal {
    outline-width: 0;
}